body {
    font-family: 'Inter', sans-serif;
}

h3,
h5 {
    font-family: 'Rethink Sans', sans-serif;
}

.custom-hover {
    background-color: #2EBCBC;
    transition: all 0.3s ease;
}

.custom-hover:hover {
    background-color: #2EBCBC;
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


